node_modules/
.env
logs/
dist/
*.log
prisma/*.db
prisma/*.db-journal
firebase-service-account.json
*-adminsdk-*.json
uploads/
scratch/
src/scratch/
temp/
debug/
src/config/keys/
.env.keys
.env.local
.env.*.local
*.pem
.env.docker
.env.docker2
b64.txt
al-markazia-server_key.pem
