node_modules/
.env
logs/
dist/
*.log
prisma/*.db
prisma/*.db-journal
firebase-service-account.json
*-adminsdk-*.json
uploads/
scratch/
src/scratch/
temp/
debug/
src/config/keys/
.env.keys
.env.local
.env.*.local
*.pem
.env.docker
.env.docker2
b64.txt
al-markazia-server_key.pem
remote_backup/
compare_hashes.js
hash.ps1
local_hashes.txt
local_hashes_utf8.txt
remote_hashes.txt
remote_hashes_new.txt
test.js
backups/
